body {
    margin-top: 112px;
    margin-left: 300px;
    
}

main {

    width: 800px;
    height: 238px;
    margin-top: 64px;
    
}

h1 {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;  
    color: #1F6BFF;
}

span.profession {
    color:#090909;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

p.desc {
    color:#090909;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.015em;
}

span.desc_Blue {
    color: #1F6BFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

button.behance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 34px;
    gap: 10px;
    background: #649BFD;
    border-radius: 30px;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-color: #ffffff00;

    letter-spacing: 0.03em;

    color: #FFFFFF;

}
button.behance:hover {
    background-color: #005CFF;
    transition: all .8s;  /* длительность анимации  */
    cursor: pointer;
}

button.resume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 34px;
    gap: 10px;
    background: #E26B6F;
    border-radius: 30px;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-color: #ffffff00;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}
button.resume:hover {
    background-color: #D20B12;
    transition: all .8s;  /* длительность анимации  */
    cursor: pointer;
}

button.telegram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 34px;
    gap: 10px;
    background: #84CBF5;
    border-radius: 30px;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-color: #ffffff00;

    letter-spacing: 0.03em;

    color: #FFFFFF;

}
button.telegram:hover {
    background-color: #36ACF2;
    transition: all .8s;  /* длительность анимации  */
    cursor: pointer;
}

button.mail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 34px;
    gap: 10px;
    background: #659AFD;
    border-radius: 30px;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-color: #ffffff00;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

button.mail:hover {
    background-color: #015AFF;
    transition: all .8s;  /* длительность анимации  */
    cursor: pointer;
}
div.first_buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

div.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    margin-top: 80px;
   

}