body {
    margin-top: 112px;
    margin-left: 300px;
    
}

main {

    width: 850px;
    height: 238px;
}

h1 {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;  
    color: #1F6BFF;
}

span.profession {
    color:#090909;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

p.desc {
    color: #090909;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

span.desc_Blue {
    color: #1F6BFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
